body {
  background-color: rgb(132, 50, 209);
}

.cajacabezera {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
  width: 1300px;
}
span {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: lighter;
}

.cajacuerpo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.caja1 {
  border-radius: 10px;
  border-color: black;
  background-color: white;
  height: 475px;
  width: 350px;
}
.caja2 {
  border-radius: 10px;
  border-color: black;
  background-color: white;
  height: 525px;
  width: 350px;
}
.caja3 {
  border-radius: 10px;
  border-color: black;
  background-color: white;
  height: 475px;
  width: 350px;
}

.titulos {
  color: rgb(241, 169, 35);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 25px;
}

.precio {
  color: rgb(132, 50, 209);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.precio span {
  color: rgb(132, 50, 209);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.cuerpo {
  color: rgb(132, 50, 209);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  text-align: center;
}

.MOSTPOPULAR {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: bisque;
  height: 60px;
  width: 170px;
  margin-left: 100px;
}
.MOSTPOPULAR h2 {
  color: rgb(132, 50, 209);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.boton {
  background-color: rgb(132, 50, 209);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.boton a {
  color: white;
}
.get {
  text-align: center;
}
a {
  font-weight: bold;
  color: rgb(132, 50, 209);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  text-align: center;
}
i {
  font-size: 50px;
  display: flex;
  justify-content: center;
}
