.container2{
    background-color: grey;
    height: 100px;
    display: flex;
    align-content: center;  
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: bold;
    font-size: 40px;
    color: white;
    text-indent: 30px;
}

.container3{
    background-color: lightgray;
    height: 180px;
}

nav{
    display: flex;
}
article{
    padding: 3px;
    margin: 20px;
    display: flex;
    align-self: flex-start;
}

img{
    height: 120px;
    width: 80px;
    border-style: dashed;
    border-width: 1px;  
    color: #555;
    padding: 3px;
    margin: 10px;    
}